<mat-toolbar color='primary'>
    <ul>
        <a routerLink='colchones'>Colchones</a>
    </ul>
    <ul>
        <a routerLink='somieres'>Somieres</a>
    </ul>
    <ul>
        <a routerLink='createColchones'>Crear colchones</a>
    </ul>
    <ul>
        <a routerLink='createSomieres'>Crear somieres</a>
    </ul>
    <span class="spacer"></span>
    <ul>
        <a *ngIf="!auths.isLogged()" mat-button routerLink="login">Log in</a>
        <a *ngIf="auths.isLogged()" mat-button (click)="auths.logoutUser()">Logout</a>
    </ul>
</mat-toolbar>
